@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(white, darkred);
    color: #101010;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 3rem;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
    color: darkred;
}

#navigation {
    display: flex;
    gap: 1rem;
}

#navigation button {
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: transparent;
}

#navigation button:hover {
    background-color: blanchedalmond;
    transition: all 0.5s;
    cursor: pointer;
}

button#signup-btn {
    background-color: darkred;
    color: white;
}

#navigation button:hover {
    background-color: darkred;
}

main {
    flex: 1;
    padding: 2rem 3rem;
}

#hero {
    text-align: center;
    margin-bottom: 3rem;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

#hero button {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#hero button:hover {
    background-color: #ff6666;
}

#courses {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

.course {
    background-color: #444;
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    width: 300px;
}

.course h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.course p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.course button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.course button:hover {
    background-color: #ff6666;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}